target/
classes/
logs/
javadoc/
javadocs/
.classpath
.idea/*
*.log
*/bin
*/test-output
*.class
*/.project
*.project
*.settings
*.settings/*
*.iml
.DS_Store
*/.DS_Store
*/.idea/*
*/test-output/
test-output/
bin/
